/*
 * Source 
 * 
 * https://openclassrooms.com/courses/apprenez-a-creer-votre-site-web-avec-html5-et-css3/mise-en-page-adaptative-avec-les-media-queries
 * 
 *  */

/* Définition des polices personnalisées */
@font-face
{
    font-family: intro,helvetica,sans-serif;
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: intro,helvetica,sans-serif;
    font-weight: normal;
    font-style: normal;
}

/* pour maîtriser width et flex-basis */
* {
  box-sizing: border-box; 
}

/* correction bug IE de min-height non appliqué à body */
html {
  display: flex; 
  flex-direction: column; 
}

/* Eléments principaux de la page */
body
{
    background-color: #EEF1F2;
    font-family: intro,helvetica,sans-serif;
    color: #181818;
}
#bloc_page
{
    width: 900px;
    margin: auto;
    background-color: #ffffff;
}
/*section h1, footer h1, nav a*/
section h1, footer h1
{
    font-family: intro,helvetica,sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

/* Header */
header
{
    background: url('images/separateur.png') repeat-x bottom;
    display: flex;
    width: 100%;    
    margin-bottom: 0px;
    padding: 0 50px 10px 0;
}
#logo
{
    display: flex;  
    align-items: center;
}
#logo img
{
    width: 200px;
    height: 82px;
}
#titre
{
    font-family: intro,helvetica,sans-serif;
    text-align: justify;
    width: 100%;
    margin: 10px 0 0 30px;
}
#titre h1
{
    font-size: 2em;
    font-weight: normal;
    margin: 0 0 0 30px;
}
#titre h2
{
    text-align: right;
    margin-top: 0px;
    padding : 0 50px 0 0;
    
    font-size: 1.1em;
    font-weight: normal;
    font-style: italic;
}

/* Navigation */
nav ul
{
    list-style-type: none;
    display: flex;
}
nav li
{
    margin-right: 15px;
}
nav a
{
    font-size: 0.8em;
    color: #181818;
    padding-bottom: 1px;
    text-decoration: none;
}
nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/* Masternav */
#masternav
{
    display: flex;
    flex-direction: column;
    background: url('images/separateur.png') repeat-x bottom;
}

/* Bannière */
#banniere_image
{
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background: url('images/transport.png') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}
#banniere_description
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgba(24,24,24,0.8);
    color: white;
    font-size: 0.8em;
}
.bouton_rouge
{
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: url('images/fond_degraderouge.png') repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}
.bouton_rouge img
{
    border: 0;
}

/* Corps */
section
{
    display: flex;
    margin-bottom: 20px;
}

article, aside
{
    text-align: justify;
}

article
{
    margin-right: 20px;
    flex: 3;
}
.ico_categorie
{
    vertical-align: middle;
    margin-right: 8px;
}

article p
{
    font-size: 0.8em;
}

aside
{
    flex: 1.2;
    position: relative;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.8em;
}
aside h2
{
    font-size: 1.1em;
}

#fleche_bulle
{
    position: absolute;
    top: 100px;
    left: -12px;
}

/* imagettet cartes dynamiques */
#conteneur
{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
#conteneur h1
{
    font-size: 0.8em;
    background-color: #C3002F;
    color: #ffffff;  
    vertical-align: middle;
    margin: 0 0 0 0;
    text-transform: none;
}
.element
{
    border: 1px solid;
    margin: 2px 2px 2px 2px;
    padding: 0 0 0 0;
}
.element img
{
    vertical-align: middle;
    width: 190px;
    height: 140px;
}
#conteneur .ico_titre
{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

aside img
{
    margin-right: 5px;
}

/* Footer */
footer
{
    display: flex;
    flex-direction: column;
    background:   url('images/ico_top.png') no-repeat top center, url('images/separateur.png') repeat-x top, url('images/ombre.png') repeat-x top;
    padding-top: 35px;
    text-align: center;
    font-size: 0.8em;
}
footer p
{
    font-size: 1em;
}
footer h1
{
    font-size: 1.1em;
}
footer div
{
    width: 100%;
}



/* */
@media all and (max-width: 1024px)
{
    #bloc_page
    {
        width: auto;
    }
        
    #banniere_image
    {
        display: none;
    }
    header
    {
        flex-direction: column;
    }  
    nav
    {
        width: auto;
        text-align: left;
    }

    nav ul
    {
        flex-direction: column;
    }

    nav li
    {
        padding-left: 4px;
    }
    
    nav a
    {
        font-size: 1.1em;
    }

    nav a:hover
    {
        border-bottom: 0;
    }
    
    section
    {
        flex-direction: column;
    }

    article, aside
    {
        width: auto;
        margin-bottom: 15px;
    }

    #fleche_bulle
    {
        display: none;
    }

    aside p:last-child
    {
        text-align: center;
    }
}

/* */
@media all and (max-width: 480px)
{
    /* Vos règles CSS pour les mobiles ici */
    #bloc_page
    {
        width: auto;
	font-size: 1em;
    }
        
    #banniere_image
    {
        display: none;
    }
    header
    {
        flex-direction: column;
	background: url('images/separateur.png') repeat-x bottom;
	width: 100%;    
	margin-bottom: 0px;
    }
    section h1, footer h1
    {
	font-size: 0.8em;
    }
    aside
    {
	font-size: 0.7em;
    }
    aside h1
    {
	font-size: 1em;
    }
    aside h2
    {
	font-size: 1em;
    }
    footer
    {
	font-size: 0.7em;
    }
    #titre
    {
	font-size: 0.8em;
	margin: 0 0 0 0;
    }
    #titre h1
    {
	padding : 5px 0 0 0;
	font-size: 1em;
    }
    #titre h2
    {
	text-align: right;
	padding : 0 0 0 0;
	font-size: 0.8em;
    }
    #sous_titre
    {
	padding: 0 0 0 0;
    }
    #sous_titre h1
    {
	font-size: 1em;
    }
    #sous_titre2 h2
    {
	font-size: 0.8em;
    }
    
    #logo img
    {
	width: 100px;
	height: 41px;
    }
    
    /* Masternav */
    #masternav
    {
	font-size: 0.8em;
    }
    
    #conteneur .ico_titre
    {
	width: 20px;
	height: 20px;
	margin-right: 2px;
    }
    #conteneur h1
    {
	font-size: 0.6em;
    }
    .ico_categorie
    {
	vertical-align: middle;
	margin-right: 8px;
	width: 23px;
	height: 27px;
    }
    .element img
    {
	width: 150px;
	height: 100px;
    }
}
